[submodule "ThirdParty/jrswizzle"]
	path = ThirdParty/jrswizzle
	url = https://github.com/rentzsch/jrswizzle.git
[submodule "ThirdParty/cocoaasyncsocket"]
	path = ThirdParty/cocoaasyncsocket
	url = https://code.google.com/p/cocoaasyncsocket/
